* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "plain light";
    color: white;
  }
  html, body {
    height: 100%;
    width: 100%;
  }
  #main {
    position: fixed;
  }
  #loader {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 999;
    background-color: #0b0b0b;
    padding: 20vh 10vw;
  }
  .line1 {
    /* background-color: red; */
    line-height: fit-content;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  .line1 h2 {
    font-size: 5.9vw;
    text-transform: uppercase;
    font-weight: 900;
    animation: anime 2s infinite;
  }
  #zero {
    /* background-color: pink; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    gap: 4vw;
  }
  #zero h5 {
    font-size: 3vw;
    font-family: "silk serif";
    font-weight: 100;
    /* background: red; */
    width: 5vw;
    text-align: right;
  }
  #zero h6 {
    font-size: 3vw;
    font-family: "silk serif";
    font-weight: 100;
  }
  .line1 h1 {
    font-size: 6.5vw;
  }
  #main {
    position: relative;
    background-color: #111;
  }
  #page1 {
    height: 100vh;
    width: 100%;
    background-color: #242121;
  }
  
  @keyframes anime {
    0% {
      font-family: "plain light";
      -webkit-text-stroke: 0.1px white;
      color: white;
      font-weight: 500;
      opacity: 1;
    }
    47% {
      font-family: "plain light";
      -webkit-text-stroke: 0.1px white;
      color: white;
      font-weight: 500;
      opacity: 0;
    }
    50% {
      font-family: "silk serif";
      -webkit-text-stroke: 0.1px white;
      font-weight: 500;
      color: transparent;
      opacity: 1;
    }
    100% {
      font-family: "silk serif";
      -webkit-text-stroke: 0.1px white;
      font-weight: 500;
      color: transparent;
      opacity: 0;
    }
  }
  